
@model WebApplicationEmpty.ViewModels.HomeDetailsViewModel  

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml"; //relative path
    ViewBag.Title = "Employee Details ";
}

    @*<h1> @ViewData["Title"]</h1>
        @{
            var employee = ViewData["Employee"] as WebApplicationEmpty.Modal.Employee;
        }

        <h3> Age: @employee.age</h3>
        <h3> Id: @employee.id</h3>
        <h3> Name: @employee.name</h3>*@

    @*<h1> @Model.Title</h1>*@

    @*<h3> Age: @ViewBag.employee.age</h3>
        <h3> Id: @ViewBag.employee.id</h3>
        <h3> Name: @ViewBag.employee.name</h3>*@


    <div class="text-center">
    
            <h3 class="text-bg-danger"> Age: @Model.employee.age</h3>
            <h3> Id: @Model.employee.id</h3>
            <h3> Name: @Model.employee.name</h3>


    </div>

    @section scripts{
        <script src="~/js/CustomJavascript .js"></script>
    }
